.no-style-gridview table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    
}

.no-style-gridview th, .no-style-gridview td {
   
   border-bottom: 1px solid #ddd; /* Línea horizontal inferior */
  /* border-right:  1px solid #ddd; /* Línea horizontal inferior */

   padding: 10px;
    background-color: white;
}

.no-style-gridview th {
    background-color: white;
    color: black;
}

.no-style-gridview tr {
    background-color: white;

}

.no-style-gridview .summary {
    display: none; /* Ocultar el resumen */
}


.custom-alert {
    background: rgb(250,239,215);
    background: linear-gradient(90deg, rgba(250,239,215,1) 0%, rgba(250,239,215,1) 35%, rgba(250,239,215,1) 100%);
    color: #000; /* Ajusta el color del texto si es necesario */
}

.custom-nopato{

    background: rgb(141,40,248);
    background: linear-gradient(90deg, rgba(141,40,248,1) 0%, rgba(130,52,212,1) 35%, rgba(182,148,218,1) 100%);

}

.btn-p{

    background: #EA0150;

}


/* Estilos para el botón flotante */
.float-submit-btn {
    position: fixed;
    bottom: 150px;
    right: 120px;
    z-index: 1000;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.float-submit-btn i {
    font-size: 24px;
}


.float-submit-btn2 {
    position: fixed;
    bottom: 150px;
    right: 120px;
    z-index: 1000;
    background-color: #f8f9fa;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.float-submit-btn2 i {
    font-size: 24px;
}

.float-submit-btn3 {
    position: fixed;
    bottom: 150px;
    right: 250px;
    z-index: 1000;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.float-submit-btn3 i {
    font-size: 24px;
}


.bg-azulin{
    background: rgb(163,248,255);
    background: linear-gradient(90deg, rgba(163,248,255,1) 0%, rgba(177,249,255,1) 35%, rgba(230,253,255,1) 100%);

}



.si-style-gridview table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
   
}

.si-style-gridview th, .si-style-gridview td {
   
    /*margin-top: 5px; /* Línea horizontal inferior */
 /*
    margin-bottom: 5px;
  /*  border-left: 5px solid #72A8EF; /* Línea horizontal inferior */
    padding: 8px;
    background-color: #ddf4f9;
    
}

.si-style-gridview th {
    background-color: #6C7A89;
    color: black;
    
}

.si-style-gridview tr {
    background-color: #490101;
    /*border-radius: 8%;*/
}

.si-style-gridview .summary {
    display: none; /* Ocultar el resumen */
}


/* Estilos personalizados para el botón Volver */
.bg-volver {
    background-color: #6D6FF5; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto en el botón */
    /* Otros estilos según necesidades */
}


