.no-style-gridview table {
    border: none;
    width: 100%;
    background-color: white;
}

.no-style-gridview th, .no-style-gridview td {
    border: none;
    padding: 8px;
    background-color: white;
}

.no-style-gridview th {
    background-color: white;
    color: black;
}

.no-style-gridview tr {
    background-color: white;
}

.no-style-gridview .summary {
    display: none; /* Ocultar el resumen */
}


.custom-alert {
    background: rgb(250,239,215);
    background: linear-gradient(90deg, rgba(250,239,215,1) 0%, rgba(250,239,215,1) 35%, rgba(250,239,215,1) 100%);
    color: #000; /* Ajusta el color del texto si es necesario */
}

.custom-nopato{

    background: rgb(141,40,248);
    background: linear-gradient(90deg, rgba(141,40,248,1) 0%, rgba(130,52,212,1) 35%, rgba(182,148,218,1) 100%);

}

.btn-p{

    background: #EA0150;

}


/* Estilos para el botón flotante */
.float-submit-btn {
    position: fixed;
    bottom: 150px;
    right: 120px;
    z-index: 1000;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.float-submit-btn i {
    font-size: 24px;
}

.bg-azulin{
    background: rgb(163,248,255);
    background: linear-gradient(90deg, rgba(163,248,255,1) 0%, rgba(177,249,255,1) 35%, rgba(230,253,255,1) 100%);

}
